<section>
        <img src="img/me.jpg" alt="Photograph of Catalin Voineag" class="profile-photo">
        <h3>About</h3>
        <p>Hi, I'm Catalin! I'm a junior web developer. This is my web portfolio where I share all of my favorite work. In my spare time, I enjoy exercising, drinking a beer with friends and generally doing outdoors things.</p>
        <p>I am very passionate about web technology and at the moment I'm looking for new exiting projects to work on. You can contact me via email <a href="mailto:catalin94v@gmail.com">catalin94v@gmail.com.</a></p>
      </section>