<section id="primary">
  <h3>General Information</h3>
  <p>I am looking for new projects to work on, If you have any questions, please don't hesitate to contact me!</p>
  <p>Twitter and email are the best way to reach me.</p>
</section>
<section id="secondary">
  <h3>Contact Details</h3>
  <ul class="contact-info">
    <li class="mail"><a href="mailto:catalin94v@gmail.com">catalin94v@gmail.com</a></li>
    <li class="twitter"><a href="https://twitter.com/cata94v">@cata94v</a></li>
  </ul>
</section>