<section>
  <div class="title">
    <h1>Welcome!</h1>
    <h1 class="bold_title">MY NAME IS CATALIN</h1>
    <img src="img/me.jpg" alt="Profile photo", class="home_photo">
  </div>
  <div class="portfolio_content">
    <h2>Portfolio</h2>
    <h3>A collection of projects that I worked on.</h3>
        <ul id="gallery">
          <li>
            <a href="http://dwarfi.github.io/Lake-Tahoe-California/">
              <img id="img1" src="img/Lake-Tahoe.png" alt="Lake-Tahoe Project">
              <p>Lake Tahoe, California.</p>
            </a>
          </li>
          <li>
            <a href="http://dwarfi.github.io/People-List-App/#/list">
              <img id="img2" src="img/People-list.png" alt="People List Project">
              <p>Angular Employees list.</p>
            </a>
          </li>
          <li>
            <a href="http://dwarfi.github.io/Reader/#/books">
              <img id="img3" src="img/Reader.png" alt="Reader App Project">
              <p>Angular Reader Application.</p>
            </a>
          </li>
          <li>
            <a href="http://dwarfi.github.io/Productivity-App-host/#/">
              <img id="img4" src="img/productivity.png" alt="Productivity App Project">
              <p>Angular Productivity Application.</p>
            </a>
          </li>
        </ul>
      </div>
      
       <div id="skills">
        <br/>
        <br/>
      <br/>
      <br>
        <h2>Skills and Abilities</h2>
        <ul>
          <li><h3>HTML5 CSS3 and Bootstrap</h3></li>
          <li><h3>Javascript, jQuery and Angular JS</h3></li>
          <li><h3>Ruby on Rails</h3></li>
          <li><h3><a href="https://github.com/dwarfi" id="github" style="color:#2141F5">GitHub Accont</a></h3></li>
        </ul>
      </div>
      </section>

